@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: "Hurme Geometric Sans 1";
    src: url("../fonts/HurmeGeometricSans1.otf");
}

/* -------------------------------unviversal selector---------------------------------------- */
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none !important;
    list-style: none !important;
}

/* ---------------------------------------------root------------------------------------------- */
:root {
    --ff-poppins: "Poppins", sans-serif;
    --ff-h: "Hurme Geometric Sans 1";

    --fw-3: 300;
    --fw-4: 400;
    --fw-5: 500;
    --fw-6: 600;
    --fw-7: 700;
    --fw-8: 800;

    --light-orange-color: #E67E22;
    --black-color: #000000;
    --white-color: #ffff;
    --light-grey: #A0A0A0;
    --border-color: #E67E221A;
    --dots-color: #E67E2226;
    --shdow-color: #0000001A;
    --light-blue:#FFFFFF03;
    --input-border:#0000000D;
    --grey-200:#FFFFFF26;
    --grey-400:#FFFFFF80;

    --fs-10: 10px;
    --fs-14: 14px;
    --fs-15: 15px;
    --fs-16: 16px;
    --fs-18: 18px;
    --fs-20: 20px;
    --fs-21: 21px;
    --fs-24: 24px;
    --fs-25: 25px;
    --fs-28: 28px;
    --fs-30: 30px;
    --fs-32: 32px;
    --fs-36: 36px;
    --fs-40: 40px;
    --fs-44: 44px;
    --fs-48: 48px;
    --fs-50: 50px;
    --fs-52: 52px;
    --fs-60: 60px;
    --fs-61: 61px;
    --fs-64: 64px;
    --fs-70: 70px;
    --fs-72: 72px;
    --fs-80: 80px;
    --fs-157: 157px;


    --lh-16: 16px;
    --lh-19: 19px;
    --lh-21: 21px;
    --lh-20: 20px;
    --lh-23: 23px;
    --lh-24: 24px;
    --lh-26: 26px;
    --lh-27: 27px;
    --lh-28: 28px;
    --lh-29: 29px;
    --lh-30: 30px;
    --lh-32: 32px;
    --lh-35: 35px;
    --lh-37: 37px;
    --lh-39: 39px;
    --lh-40: 40px;
    --lh-41: 41px;
    --lh-42: 42px;
    --lh-45: 45px;
    --lh-49: 49px;
    --lh-54: 54px;
    --lh-56: 56px;
    --lh-61: 61px;
    --lh-68: 68px;
    --lh-72: 72px;
    --lh-75: 75px;
    --lh-83: 83px;
    --lh-86: 86px;
    --lh-100: 100px;
    --lh-188: 188px;
}

.lh-26 {
    line-height: var(--lh-26);
}

.lh-23 {
    line-height: var(--lh-23);
}

.lh-45 {
    line-height: var(--lh-45);
}

.lh-42 {
    line-height: var(--lh-42);
}

.lh-30 {
    line-height: var(--lh-30);
}

.lh-35 {
    line-height: var(--lh-35)
}

.lh-16 {
    line-height: var(--lh-16);
}

.lh-61 {
    line-height: var(--lh-61);
}

.lh-40 {
    line-height: var(--lh-40);

}

.lh-68 {
    line-height: var(--lh-68);
}

.lh-37 {
    line-height: var(--lh-37);
}

.lh-41 {
    line-height: var(--lh-41);
}

.lh-19 {
    line-height: var(--lh-19);
}

.lh-24 {
    line-height: var(--lh-24);
}

.lh-29 {
    line-height: var(--lh-29);
}

.lh-20 {
    line-height: var(--lh-20);
}

.lh-21 {
    line-height: var(--lh-21);
}

.lh-83 {
    line-height: var(--lh-83);
}

.lh-54 {
    line-height: var(--lh-54);
}

.lh-56 {
    line-height: var(--lh-56);
}


.lh-32 {
    line-height: var(--lh-32);
}

.lh-86 {
    line-height: var(--lh-86);
}

.lh-72 {
    line-height: var(--lh-72);
}

.lh-75 {
    line-height: var(--lh-75);
}

.lh-39 {
    line-height: var(--lh-39);
}

.lh-27 {
    line-height: var(--lh-27);
}

.lh-28 {
    line-height: var(--lh-28);
}

.lh-49 {
    line-height: var(--lh-49);
}

.lh-188 {
    line-height: var(--lh-188);
}

.lh-100 {
    line-height: var(--lh-100);
}

.fw-4 {
    font-weight: var(--fw-4);
}

.fw-5 {
    font-weight: var(--fw-5);
}

.fw-8 {
    font-weight: var(--fw-8);
}

.fw-6 {
    font-weight: var(--fw-6);
}

.fw-7 {
    font-weight: var(--fw-7);
}

.fw-3 {
    font-weight: var(--fw-3);
}

.fs-14 {
    font-size: var(--fs-14);
}

.fs-15 {
    font-size: var(--fs-15);
}

.fs-48 {
    font-size: var(--fs-48);
}

.fs-32 {
    font-size: var(--fs-32);
}

.fs-25 {
    font-size: var(--fs-25);
}

.fs-28 {
    font-size: var(--fs-28);
}

.fs-50 {
    font-size: var(--fs-50);
}

.fs-44 {
    font-size: var(--fs-44);
}

.fs-64 {
    font-size: var(--fs-64);
}

.fs-16 {
    font-size: var(--fs-16);
}

.fs-61 {
    font-size: var(--fs-61);
}

.fs-18 {
    font-size: var(--fs-18);
}

.fs-24 {
    font-size: var(--fs-24);
}

.fs-10 {
    font-size: var(--fs-10);
}

.fs-52 {
    font-size: var(--fs-52);
}

.fs-40 {
    font-size: var(--fs-40);
}

.fs-36 {
    font-size: var(--fs-36);
}

.fs-72 {
    font-size: var(--fs-72);
}

.fs-157 {
    font-size: var(--fs-157);
}

.fs-20 {
    font-size: var(--fs-20);
}

.fs-30 {
    font-size: var(--fs-30);
}

.fs-80 {
    font-size: var(--fs-80);
}

.fs-21 {
    font-size: var(--fs-21);
}

.fs-70 {
    font-size: var(--fs-70);
}

.white {
    color: var(--white-color);
}

.orange_color {
    color: var(--light-orange-color);
}

.ff-p {
    font-family: var(--ff-poppins);
}

.ff-h {
    font-family: var(--ff-h);
}

.black {
    color: var(--black-color);
}

.curser {
    cursor: pointer;
}

.light-grey {
    color: var(--light-grey);
}

/*================= header =====================*/
.header_bg_img {
    background-image: url("../img/png/hero_sec_bg_img.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*================ nav bar ==============*/
.hero_container {
    max-width: 1140px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}



.nav_links {
    transition: all 300ms linear;
    position: relative;
    padding-bottom: 5px;
}

.nav_links:hover {
    opacity: 1 !important;
    color: var(--light-orange-color) !important;
}

.bttn {
    background: var(--border-color);
    color: var(--white-color);
    border-radius: 221px;
    transition: all 200ms linear;
    padding: 22px 40px 22px 40px;
    border: 1px solid var(--white-color);
}

.bttn:hover {
    background-color: var(--light-orange-color);
    border: 1px solid var(--light-orange-color);
}

/*====================== preloader ========================*/

.preloader {
    position: fixed;
    width: 100%;
    height: 105%;
    top: 0;
    right: 0;
    background-color: var(--black-color);
    z-index: 100;
}

.cv_txt {
    animation: preloader 3s infinite;
}

/*==================== Servics ================*/

.slick-dots li button {
    display: none;
}

.slick-dots li {
    width: 9.07px;
    height: 9.07px;
    border-radius: 50%;
    background: var(--dots-color);
}

.slick-dots li.slick-active {
    width: 9.07px;
    height: 9.07px;
    border-radius: 50%;
    background: var(--light-orange-color);
}

.letter_spacing {
    letter-spacing: 5px;
}

.services_prev_arrow {
    top: 50%;
    left: 0;
    transform: translate(-100%, 50%);
}

.services_next_arrow {
    top: 50%;
    right: 0;
    transform: translate(50%, 50%);
}

/*==================== why choise us ================*/

.choose_us {
    letter-spacing: 34%;
    position: relative;
}

.black-line {
    width: 22px;
    height: 2px;
    background-color: var(--black-color);
}

.content_border {
    border: 1px solid var(--shdow-color);
    border-radius: 10px;
    padding: 12px;
    min-height: 100%;
}

.pt-10 {
    padding-top: 10px;
}

/*================ about us  ================*/
.bg-light-color {
    background: var(--white-color);

}

.border_radius_106 {
    border-radius: 106px;
}

.about_us_btn {
    border: 1px solid transparent;
    padding: 13px 26px 13px 26px;
    background: var(--light-orange-color);
    border-radius: 106px;
}

.about_us_btn:hover {
    border: 1px solid var(--light-orange-color);
    background: var(--white-color);
    color: var(--light-orange-color) !important;
}

.mt_32 {
    margin-top: 32px;
}

/*=============== best exprecience ===================*/
.w-h-61 {
    width: 61px;
    height: 61px;
    border-radius: 50%;
    background-color: var(--white-color);
    transform: translate(-50%, -50%);
}

/*================== in book experiance====================== */
.mail-input {
    border: none;
    outline-color: none;
}

.mail_btn_border {
    max-width: 100%;
    min-height: 53px;
    border-radius: 100px;
    background-color: var(--white-color);
    padding: 5px 6px 5px 16px;
}

.downloadBtn {
    background: var(--light-orange-color);
    padding: 8px 19px 8px 19px;
    border-radius: 106px;
    border: none;
}

/*=================== rewviews us =====================*/
.review_slider_card {
    border: 1px solid var(--shdow-color);
    max-width: 362px;
    min-height: 100%;
    padding: 22px;
    border-radius: 10px;
}

.review_prev_arrow {
    top: 50%;
    left: 0;
    transform: translate(-100%, 100%);
}

.review_next_arrow {
    top: 50%;
    right: 0;
    transform: translate(100%, 100%);
}

.reviews_slider_itm .slick-slider {
    margin: 0 -5px;
}

.reviews_slider_itm .slick-slide {
    padding: 5px;
    margin-right: 2px;
    margin-left: 2px;
}

.slick-dots {
    bottom: -50px;
}

.reviews_slider_itm .slick-current>div {
    box-shadow: 0px 1px 27.3px 0px var(--shdow-color);
    border: 1px solid var(--border-color);
    border-radius: 10px;
}

.reviews_slider_itm .slick-track {
    padding: 20px;
}

/*================== contact us ===================*/
.contact_us_bg_color {
    background: var(--white-color);
}

.fill_info {
    background: var(--light-blue);
    border: 1px solid var(--shdow-color);
    width: 49%;
    min-height: 46px;
    border-radius: 6px;
    outline-color: var(--light-orange-color) !important;
    resize: none;
}

.info_section {
    padding: 36px 63px 36px 33px;
    background: var(--white-color);
    border-radius: 10px;
    box-shadow: 0px 4px 23px 0px var(--input-border);
}

/*==================== our client ================*/
.compny_card {
    border: 1px solid var(--input-border);
    max-width: 207px;
    border-radius: 10px;
    min-height: 111px;
}

.client_prev_arrow {
    top: 50%;
    left: 0;
    transform: translate(-100%, 40%);
}

.client_next_arrow {
    top: 50%;
    right: 0;
    transform: translate(100%, 40%);
}

.client_slider .slick-slider {
    margin: 0 -15px;
}

.client_slider .slick-slide {
    padding: 10px;
    text-align: center;
    margin-right: 15px;
    margin-left: 15px;
}

/*================== footer ==============*/
.media_app {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: var(--grey-200);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 300ms linear;
}

.footer-links {
    transition: all 300ms linear;
}

.footer-links:hover {
    opacity: 100% !important;
    color: var(--light-orange-color) !important;
}

.media_app:hover {
    transform: scale(1.1);
    background-color: var(--light-orange-color);
}

.footer_underline {
    border: 1px solid var(--grey-400);
    width: 100%;
    height: 1px;
    opacity: 20%;
}

.pt_20 {
    padding-top: 20px;
}

.pb_20 {
    padding-bottom: 20px;
}

/*============ Portfolio =====================*/
.opa-1 {
    opacity: 0;
}

.hover-clas:hover .opa-1 {
    opacity: 1 !important;
}

.hover-clas:hover .portfalio_slider_img {
    filter: blur(2px);
}

.adjust-txt {
    bottom: 20px;
    left: 20px;
    right: 20px;
}

.over-slider {
    z-index: 2;
}


.portflio_slider .slick-slider {
    margin: 0 -15px;
}

.portflio_slider .slick-slide {
    padding: 5px;
    margin-right: 2px;
    margin-left: 2px;
}


.portflio_slider .slick-list {
    overflow: visible;
    padding: 0 20% 0 0;
    position: relative;
}

.portflio_slider .slick-list::after {
    content: ' ';
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 4000px;
    right: 100%;
    background-color: white;
}

.portflio_prev_arrow {
    top: 0;
    right: 0;
    transform: translate(-70px, 0px);
}

.portflio_next_arrow {
    top: 0;
    right: 0;
}

.slider_arrow {
    width: 56px;
    height: 56px;
    border: 1px solid var(--black-color);
    border-radius: 50%;
    transition: all 300ms linear;
}

/*============ in the news =====================*/

.news_slider_card {
    border: 1px solid var(--shdow-color);
    background-color: var(--white-color);
    padding: 12px 14px 20px 11px;
    border-radius: 6px;
    max-width: 535px;
    min-height: 100%;
}

.pt_34 {
    padding-top: 34px;
}


.slider_arrow:hover {
    background-color: var(--light-orange-color);
    border: 1px solid var(--light-orange-color);
}

.slider_arrow:hover svg path {
    fill: var(--white-color);
}

.news_prev_arrow {
    top: 0;
    right: 75px;
}

.news_next_arrow {
    top: 0;
    right: 0;
}

.max_w_131 {
    max-width: 131px;
}

/*================== ellips ===================*/
.header_line {
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(0px, -20px);
}

.header_ellips {
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(10px, -50%);
}

.header_dots {
    top: 0;
    position: absolute;
    left: 0;
}

.contact_us_ellips {
    top: 40%;
    position: absolute;
    left: 0;
}

.footer_line_ellpis {
    top: 0;
    position: absolute;
    left: 0;
    transform: translate(0px, -64%);
}

.about_us_line_ellips {
    top: 50%;
    left: 0;
    position: absolute;
}

.about_us_ellips {
    top: 0;
    left: 0;
    position: absolute;
}

.services_line_ellips {
    top: 60%;
    right: 0;
    position: absolute;
}

.services_ellips {
    top: 10%;
    right: 0;
    position: absolute;
}

.best_exp_dots {
    position: absolute;
    left: 30px;
    top: 0;
    transform: translate(0px, -90px);
}

.book_line_ellips {
    top: 40%;
    right: 0;
    position: absolute;
}

.book_ellips {
    top: 0;
    left: 0;
    position: absolute;
}

/*================== scroll to top ===================*/
.scroll_to_top {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: fixed;
    bottom: 2%;
    right: 2%;
    cursor: pointer;
    z-index: 30;
    animation: toTop 1s infinite;
    transition: all 300ms linear;
    animation: top 2s infinite;
}

.scroll_to_top:hover {
    animation: top 1s infinite;
}


/*============ animation ===========*/
@keyframes preloader {
    0% {
        opacity: 100%;
    }

    25% {
        opacity: 25%;
    }

    50% {
        opacity: 50%;
    }

    75% {
        opacity: 75%;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes top {
    25% {
        transform: translateY(10px);
    }

    50% {
        transform: scale(1.1);
    }

    75% {
        transform: scale(1);
    }

    100% {
        transform: translateY(0p);
    }
}

/*================== media screen =========================*/
@media (max-width:992px) {
    .menuBar {
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: -100%;
        background: var(--black-color);
        z-index: 30;
        transition: all 300ms linear;
    }

    .menu-links {
        flex-direction: column;
        justify-content: center;
    }

    .menuIcon {
        width: 42px;
        height: 28px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: 31;
        align-items: end;
    }

    .menuIcon span {
        width: 100%;
        height: 5px;
        background-color: var(--white-color);
        z-index: 4;
    }

    .show {
        left: 0;
    }


}

@media (min-width:576px) {
    .pt_sm_70 {
        padding-top: 70px !important;
    }

    .pb_sm_70 {
        padding-bottom: 70px !important;
    }

    .pt-sm-40 {
        padding-top: 40px;
    }

    .pb-sm-40 {
        padding-bottom: 40px !important;
    }

    .pt_sm_40 {
        padding-top: 40px !important;
    }
}

@media (min-width:992px) {
    .gap-lg-126 {
        gap: 126px !important;
    }

    .pt-lg_76 {
        padding-top: 76px !important;
    }

    .pt_lg_141 {
        padding-top: 141px !important;
    }

    .pb_lg_150 {
        padding-bottom: 150px !important;
    }

    .pt-lg-62 {
        padding-top: 62px !important;
    }

    .pb-lg-62 {
        padding-bottom: 62px !important;
    }

    .pt-lg-72 {
        padding-top: 72px !important;
    }

    .pb-lg-72 {
        padding-bottom: 72px !important;
    }

    .pt_lg_101 {
        padding-top: 101px !important;
    }

    .pb_lg_82 {
        padding-bottom: 82px !important;
    }

    .max-lg-w-388 {
        max-width: 388px;
    }

    .fs-lg-32 {
        line-height: var(--lh-32);
    }

    .lh-lg-39 {
        line-height: var(--lh-39);
    }
}

@media (max-width:1400px) {
    .slider_arrow {
        display: none !important;
    }
}

@media (min-width:768px) {
    .fs-md-40 {
        font-style: var(--fs-40);
    }

    .lh-md-49 {
        line-height: var(--lh-49);
    }

    .opacity_md_30 {
        opacity: 30%;
    }
}

@media (max-width:768px) {
    .fs-lh-md-30-54 {

        font-size: var(--fs-30);
        line-height: var(--lh-54);
    }
}